/* Estilo general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 16px;
}

/* Estilo del header */
header {
  background-color: #640101;
  padding-top: 2%;
  padding-bottom: 2%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 5%; 
  margin-right: 1%; 
  margin-left: 2%;
}

header p {
  flex: 1;
  margin-left: 2%;
  color:#fff;
  font-size: 25px;

}

nav {
  margin-right: 2%;
}

nav a {
  display: inline-block;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffffff;
}

/* Estilo del header en pantallas chicas */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  header p {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  nav {
    margin: 0;
    margin-top: 10px;
  }
  
  nav ul li {
    margin: 10px 0;
  }
}

 
  /* Estilo de Seccion "clubAmigos" */
  
  .clubAmigos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-image: url(./Imagenes/copas\ de\ vino.jpg);
    background-size: cover; 
    background-position: center;
  }
    
  .logoVINO2 img {
    margin-top: 4%;
    margin-bottom: 2%;
    width: 130px;
    margin-left: 100px;
  
  }
  
  .club-de-amigos {
    width: calc(100% - 60px);
    margin-bottom: 40px;
   
  }
  
  .club-de-amigos h1 {
    font-size: 65px;
    margin-bottom: 20px;
    color: white;
   font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .club-de-amigos-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .club-de-amigos button {
    background-color: #640101;
    color: #fff;
    border: none;
    padding: 2%  10%;
    font-size: 15px;
    width: 100%;
    margin-top: 20px;
  }
  
  .boton-asociate{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
 
}

.boton-asociate:hover {
    box-shadow: 0 8px 8px 0 #8f4747;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
  .club-de-amigos-p {
    max-width: 100%;
    font-weight:bold ;
    
  }
  
  .club-de-amigos-p p {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    
  }
  
  /* Estilo de Seccion "clubAmigos" en pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .clubAmigos {
      padding: 40px;
    }
    
    .club-de-amigos {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    
    .club-de-amigos button {
      width: 100%;
    }
    
    .club-de-amigos-p {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .club-de-amigos-p p {
      margin-left: 0;
      text-align: center;
    }
  }
  
  
  /* Estilo de Seccion "nuestrosVinos" */

  #nuestrosVinos {
    scroll-behavior: smooth;
  }
  
.nuestrosVinos {
  padding-top: 4%;
  background-color: #fff;
  background-size: cover; 
  background-position: center;
}

.nuestrosVinos-grilla {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1%;
  padding-right: 1%;
  justify-content: space-between;
  width: 100%; 
  
}

.nuestrosVinos h2 {
  margin-top: 3%;
  margin-bottom: 60px;
  color: #640101;
}

.nuestrosVinos {
  text-align: center;
}

.vinos {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.vinos img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  
}

.vinos h3 {
  padding-top: 15px;
  margin-bottom: 20px;
  color: #640101;
}

.vinos p {
  font-size: 16px;
  color: #640101;
  text-align: justify;
  padding: 20px;
}

/* Estilos de Seccion "nuestrosVinos" para pantallas más chicas */
@media (max-width: 768px) {
  .nuestrosVinos-grilla {
    justify-content: center;
  }

  .vinos {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 576px) {
  .vinos {
    flex-basis: 100%;
  }

  .vinos p {
    font-size: 12px;
  }
}

/*Estilo de seccion Nosotros*/

#nosotros {
  scroll-behavior: smooth;
}

.nosotros h1 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 5%;
}

.container .text-container {
  width: 100%; 
  margin-left: 2%;
  padding-right:5%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container p {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: justify;
  margin-top: 70px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}


/* Estilo de Seccion "Nosotros" en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .container {
    height: auto; /* Añadido */
  }

  .container img {
    max-width: 100%; /* Añadido */
  }

  .container .text-container {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .nosotros h1 {
    position: static;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: start;
  }
}

/*Estilo de elementos de Nuestra Finca*/

  #nuestraFinca {
    scroll-behavior: smooth;
  }
  .nuestrafinca {
    flex-basis: calc(33.33%);
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    color: #640101;
  }

  .nuestrafinca-grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; 
    
  }
  .nuestrafinca2 {
    flex-basis: calc(33.33%);
    padding: 1%;
    width: 100%;
    height: auto;
    
  }
    
  .nuestrafinca img {
    width: 100%;
    height: 100%;
    margin-bottom: 1%;
    
  }
  
  .nuestrafinca p {
    font-size: 16px;
    color: #640101;
    text-align:justify;
    padding: 4%;
    
  }
  
  /* Estilos de Seccion "nuestrafinca" para pantallas más chicas */
  @media (max-width: 768px) {
    .nuestrafinca-grilla {
      justify-content: center;
    }
  
    .nuestrafinca {
      flex-basis: calc(50% - 10px);
    }
  }
  
  @media (max-width: 576px) {
    .nuestrafinca {
      flex-basis: 100%;
    }
  
    .nuestrafinca p {
      font-size: 12px;
    }
  }

  /* Estilos para los elementos de Vinos */

  
  #vinos {
    scroll-behavior: smooth;
  }

.Vinos2 {
  padding: 5%;
  background-color: #640101;
  }
  
.vino {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background-size:contain; 
  background-position: center;
  background-color: white;
  
}

.vino img {
  width: 20%;
  margin-right: 30px;
}

/* Estilos para los títulos de Vino */
.Vinos2 h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

.Vinos2 h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #640101;
}

/* Estilos para los párrafos de Vino */
.Vinos2 .h3-p p {
  padding-left: 1%;
  padding-right: 5%;
  font-size: 1.0rem;
  text-align: justify;
  color: #640101;
}

/* Estilos para elementos de Contacto */

  .formulario {
    width: 100%;
    margin: auto;
    padding: 8%;
    position: relative;

}

.formulario__titulo {
    text-align: center;
    padding-bottom: 8%;
    color: #640101;
}

.formulario__input, .formulario__label, 
.formulario__submit {
  display: block;
  width: 100%;
  font-size: 150%;
}

.formulario__input {
    padding: 3%;
    background: rgba(234, 159, 159, 0.2);
    border: 1px solid  #640101;
    border-radius: 20px;
    margin-bottom: 4%;
}

.formulario__input:focus {
    outline: 1px solid  #640101;
}

.formulario__input:focus + 
.formulario__label {
  margin-top: -13%;
}

.formulario__label {
    padding-left: 5%;
    position: absolute;
    margin-top: -9%;
    color: #640101;
    transition: all 0.2s;
}

.formulario__submit {
    background: #640101;
    color: white;
    padding: 3%;
    cursor: pointer;
    border-radius: 20px;
}

.fijar {
    margin-top: -40%;
}

.pie-pagina{
  width: 100%;
  background-color: #640101;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: cnter;

}
.pie-pagina .grupo-1 .box figure img{
  width: 150px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;

}
.pie-pagina .grupo-1 .box p{
  color: #ffffff;
  margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social i{
display: inline-block;
text-decoration: none;
width: 45px;
height: 45px;
line-height: 45px;
color: #fff;
margin-right: 10px;
background-color:#640101;
text-align: center;
transition: all 300ms ease;
font-size: 45px;
}
.pie-pagina .grupo-1 .red-social i:hover{
  color: gray;
}

.pie-pagina .grupo-2{
  background-color: #640101;
  padding: 15px 10px;
  text-align: cnter;
  color: #fff;

}

.pie-pagina .grupo-2 small{
  font-size: 15px;
  }

