/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  /* Estilo del header */
  header {
    background-color: #4a4949;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header p {
    margin-left: 30px;
    color:#fff;
    font-size: 25px;

  }
  
  nav {
    margin-right: 20px;
  }
  
  nav a {
    display: inline-block;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #ffffff;
  }
  
  
  /* Estilo de Seccion "clubAmigos" */
  .clubAmigos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-image: url(Imagenes/Sin\ título2.png);
    background-size: cover; 
    background-position: center;
  }
  
  .logoVINO img {
    width: 40px;
  }
   
  
  .club-de-amigos {
    max-width: 100%;
    width: calc(100% - 60px);
    margin-bottom: 40px;
  }
  
  .club-de-amigos h1 {
    font-size: 65px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .club-de-amigos-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .club-de-amigos button {
    background-color: #4a4949;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    width: 15%;
    margin-top: 20px;
  }
  
  .club-de-amigos-p {
    max-width: 100%;
    
  }
  
  .club-de-amigos-p p {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
  }
  
  /* Estilo de Seccion "clubAmigos" en pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .clubAmigos {
      padding: 40px;
    }
    
    .club-de-amigos {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    
    .club-de-amigos button {
      width: 100%;
    }
    
    .club-de-amigos-p {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .club-de-amigos-p p {
      margin-left: 0;
      text-align: center;
    }
  }
  
  
  /* Estilo de Seccion "nuestrosVinos" */
  .nuestrosVinos {
    margin-top: 0;
    text-align: center;
    background-color: #fff; 
    margin-bottom: 0; 
  }
  
  .nuestrosVinos-grilla {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(Imagenes/Sin\ título3.png);
    background-size: cover; 
    background-position: center;
    width: 100%; 
  }

  .nuestrosVinos h2 {
    margin-bottom: 60px;
    color: #fff;
  }
  
  .nuestrosVinos {
    text-align: center;
  }
  
  .vinos {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .vinos img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  .vinos h3 {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .vinos p {
    font-size: 14px;
    color: #fff;
  }
  
  